In [40]:
#Project on Machine learning to compute the prices of houses

In [1]:
import numpy as np
import pandas as pd

In [2]:
data=pd.read_csv("/content/Housing (1).csv")

In [3]:
data.head()

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420,4,2,3,yes,no,no,no,yes,2,yes,furnished
1,12250000,8960,4,4,4,yes,no,no,no,yes,3,no,furnished
2,12250000,9960,3,2,2,yes,no,yes,no,no,2,yes,semi-furnished
3,12215000,7500,4,2,2,yes,no,yes,no,yes,3,yes,furnished
4,11410000,7420,4,1,2,yes,yes,yes,no,yes,2,no,furnished

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 545 entries, 0 to 544
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   price             545 non-null    int64
 1   area              545 non-null    int64
 2   bedrooms          545 non-null    int64
 3   bathrooms         545 non-null    int64
 4   stories           545 non-null    int64
 5   mainroad          545 non-null    object
 6   guestroom         545 non-null    object
 7   basement          545 non-null    object
 8   hotwaterheating   545 non-null    object
 9   airconditioning   545 non-null    object
 10  parking           545 non-null    int64
 11  prefarea          545 non-null    object
 12  furnishingstatus  545 non-null    object
dtypes: int64(6), object(7)
memory usage: 55.5+ KB

In [ ]:
#one hotencoding to convert catogorical variables to numerical variables

In [36]:
#data['guestroom']=data['guestroom'].apply({'no':0,'yes':1}.get)
#data['mainroad']=data['mainroad'].apply({'no':0,'yes':1}.get)
#data['basement']=data['basement'].apply({'no':0,'yes':1}.get)
#data['hotwaterheating']=data['hotwaterheating'].apply({'no':0,'yes':1}.get)
#data['airconditioning']=data['airconditioning'].apply({'no':0,'yes':1}.get)
#data['prefarea']=data['prefarea'].apply({'no':0,'yes':1}.get)
#data['furnishingstatus']=data['furnishingstatus'].apply({'semi-furnished':0,'furnished':1}.get)

In [5]:
data['mainroad']=data['mainroad'].apply({'no':0,'yes':1}.get)

In [6]:
data['guestroom']=data['guestroom'].apply({'no':0,'yes':1}.get)

In [7]:
data['basement']=data['basement'].apply({'no':0,'yes':1}.get)

In [8]:
data['hotwaterheating']=data['hotwaterheating'].apply({'no':0,'yes':1}.get)

In [9]:
data['airconditioning']=data['airconditioning'].apply({'no':0,'yes':1}.get)

In [10]:
data['prefarea']=data['prefarea'].apply({'no':0,'yes':1}.get)

In [11]:
data['furnishingstatus']=data['furnishingstatus'].apply({'unfurnished':0,'furnished':1,'semi-furnished':2}.get)

In [12]:
data.head()

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420,4,2,3,1,0,0,0,1,2,1,1
1,12250000,8960,4,4,4,1,0,0,0,1,3,0,1
2,12250000,9960,3,2,2,1,0,1,0,0,2,1,2
3,12215000,7500,4,2,2,1,0,1,0,1,3,1,1
4,11410000,7420,4,1,2,1,1,1,0,1,2,0,1

In [13]:
x=data[['area','bedrooms','bathrooms','stories','mainroad','guestroom','basement','hotwaterheating','airconditioning','parking','prefarea','furnishingstatus']]

In [14]:
y=data[['price']]

In [15]:
x.head()

,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,7420,4,2,3,1,0,0,0,1,2,1,1
1,8960,4,4,4,1,0,0,0,1,3,0,1
2,9960,3,2,2,1,0,1,0,0,2,1,2
3,7500,4,2,2,1,0,1,0,1,3,1,1
4,7420,4,1,2,1,1,1,0,1,2,0,1

In [ ]:
y.head()

In [17]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y , test_size=.2)

In [18]:
x_train.shape

(436, 12)

In [19]:
x_test.shape

(109, 12)

In [20]:
y_train.shape

(436, 1)

In [21]:
y_test.shape

(109, 1)

creating a machine learning model by using linear regression method .

In [22]:
from sklearn.linear_model import LinearRegression
regression= LinearRegression()

In [23]:
regression.fit(x_train ,y_train)

LinearRegression()

In [24]:
LinearRegression()

LinearRegression()

In [25]:
predictions=regression.predict(x_test)

In [ ]:
predictions

In [27]:
regression.score(x,y)

0.6766085272181008

In [33]:
data_new={'area':7000,	'bedrooms':3,'bathrooms':2,'stories':2,'mainroad':1,'guestroom':0,'basement':0,'hotwaterheating':0,'airconditioning':0,'parking':2,'prefarea':0,'furnishingstatus':1}

In [34]:
index=[1]
my_data=pd.DataFrame(data_new,index)

In [35]:
my_data

,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
1,7000,3,2,2,1,0,0,0,0,2,0,1

In [36]:
new_predictions=regression.predict(my_data)

In [37]:
print(new_predictions)

[[5902658.21811797]]