In [ ]:
import numpy as np
import pandas as pd

In [ ]:
data=pd.read_csv("/content/student college data (1).csv")

In [ ]:
data.head()

,type_school,school_accreditation,gender,interest,residence,parent_age,parent_salary,house_area,average_grades,parent_was_in_college
0,Academic,A,Male,Less Interested,Urban,56,6950000,83.0,84.09,False
1,Academic,A,Male,Less Interested,Urban,57,4410000,76.8,86.91,False
2,Academic,B,Female,Very Interested,Urban,50,6500000,80.6,87.43,False
3,Vocational,B,Male,Very Interested,Rural,49,6600000,78.2,82.12,True
4,Academic,A,Female,Very Interested,Urban,57,5250000,75.1,86.79,False

In [ ]:
new_data=data.iloc[:,5:9]

In [ ]:
new_data.head()

   parent_age  parent_salary  house_area  average_grades
0          56        6950000        83.0           84.09
1          57        4410000        76.8           86.91
2          50        6500000        80.6           87.43
3          49        6600000        78.2           82.12
4          57        5250000        75.1           86.79

In [ ]:
from sklearn.cluster import KMeans

In [ ]:
kmeans=KMeans(10)# here 3 indicates the number of clusters

In [ ]:
kmeans.fit(new_data) #training takes place with the entire data

KMeans(n_clusters=10)

In [ ]:
identified_clusters=kmeans.fit_predict(new_data)

In [ ]:
identified_clusters

array([2, 0, 2, 2, 1, 0, 2, 1, 2, 0, 1, 1, 2, 2, 0, 2, 0, 2, 2, 0, 2, 0,
       0, 0, 2, 1, 1, 1, 1, 2, 2, 1, 0, 1, 1, 1, 2, 1, 2, 1, 1, 0, 1, 2,
       1, 0, 1, 1, 2, 1, 2, 1, 1, 0, 2, 1, 1, 2, 2, 0, 1, 1, 1, 1, 1, 1,
       2, 1, 1, 1, 1, 2, 0, 0, 2, 0, 0, 1, 2, 2, 1, 1, 1, 1, 0, 1, 1, 2,
       1, 1, 1, 0, 2, 0, 2, 2, 1, 1, 2, 1, 0, 0, 1, 1, 1, 1, 2, 1, 0, 1,
       1, 0, 2, 0, 2, 2, 1, 0, 1, 0, 0, 2, 2, 2, 2, 1, 2, 0, 1, 0, 1, 0,
       2, 1, 0, 0, 1, 0, 0, 0, 1, 1, 2, 2, 0, 2, 1, 1, 2, 1, 1, 2, 1, 1,
       0, 2, 0, 0, 2, 0, 1, 2, 0, 0, 2, 1, 1, 0, 1, 0, 1, 2, 0, 2, 0, 0,
       1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 0,
       1, 0, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 2, 1, 2, 1, 0, 1, 2, 1, 0, 2,
       0, 1, 2, 2, 0, 0, 1, 1, 1, 1, 2, 1, 1, 0, 2, 0, 0, 2, 2, 0, 1, 1,
       2, 1, 2, 2, 2, 1, 0, 1, 0, 0, 2, 1, 0, 0, 1, 1, 2, 1, 0, 0, 1, 1,
       1, 0, 0, 2, 1, 2, 0, 1, 2, 1, 1, 0, 2, 1, 2, 0, 1, 1, 0, 0, 2, 1,
       0, 0, 1, 2, 1, 0, 0, 1, 2, 1, 2, 0, 2, 1, 1, 1, 1, 2, 1, 1, 2, 1,
       1, 0, 0, 0, 0, 0, 2, 0, 1, 1, 1, 2, 0, 0, 0, 1, 2, 0, 0, 0, 1, 1,
       0, 1, 0, 1, 1, 2, 0, 2, 1, 1, 1, 0, 1, 1, 1, 0, 1, 2, 1, 2, 1, 1,
       1, 2, 2, 1, 1, 2, 1, 0, 2, 1, 1, 2, 2, 0, 2, 1, 1, 1, 0, 0, 1, 1,
       2, 2, 0, 1, 1, 1, 2, 0, 0, 1, 0, 2, 1, 0, 2, 0, 2, 1, 1, 0, 0, 1,
       1, 2, 1, 0, 0, 0, 2, 0, 2, 1, 1, 1, 1, 1, 0, 1, 0, 0, 1, 0, 0, 2,
       1, 0, 2, 1, 0, 1, 1, 0, 1, 1, 0, 2, 0, 2, 0, 0, 0, 0, 2, 1, 0, 1,
       1, 2, 0, 0, 1, 2, 1, 2, 0, 2, 2, 2, 1, 0, 1, 2, 1, 1, 1, 2, 1, 1,
       1, 2, 2, 2, 1, 0, 2, 0, 2, 2, 2, 1, 1, 1, 1, 2, 0, 0, 1, 2, 0, 1,
       0, 0, 0, 0, 1, 1, 1, 1, 2, 2, 2, 2, 1, 0, 2, 2, 2, 1, 1, 1, 1, 0,
       0, 2, 0, 2, 1, 0, 1, 1, 0, 0, 0, 2, 1, 1, 0, 1, 1, 2, 2, 0, 2, 1,
       2, 0, 1, 0, 2, 2, 0, 1, 1, 2, 0, 1, 0, 1, 1, 0, 2, 0, 1, 1, 0, 0,
       1, 0, 2, 1, 0, 2, 2, 0, 0, 0, 2, 1, 1, 2, 0, 2, 1, 0, 1, 2, 2, 1,
       0, 1, 0, 2, 1, 2, 0, 0, 0, 1, 2, 2, 2, 0, 2, 2, 2, 1, 1, 1, 1, 0,
       1, 1, 1, 1, 2, 1, 1, 2, 0, 1, 0, 0, 2, 2, 1, 0, 0, 1, 2, 2, 1, 0,
       1, 1, 1, 1, 2, 1, 0, 1, 1, 0, 0, 0, 0, 1, 2, 1, 0, 1, 1, 1, 2, 2,
       1, 0, 2, 0, 2, 0, 0, 1, 2, 0, 2, 1, 0, 1, 0, 1, 1, 2, 2, 1, 2, 2,
       0, 1, 1, 1, 1, 1, 1, 2, 0, 1, 2, 1, 1, 2, 0, 0, 1, 1, 2, 2, 1, 1,
       2, 1, 1, 1, 1, 2, 1, 0, 2, 2, 2, 1, 0, 1, 2, 2, 2, 0, 2, 1, 1, 1,
       1, 2, 2, 1, 2, 0, 2, 0, 1, 1, 1, 0, 0, 0, 1, 0, 1, 0, 1, 2, 0, 1,
       1, 0, 1, 1, 0, 0, 1, 2, 1, 2, 0, 1, 2, 2, 0, 2, 2, 2, 0, 2, 0, 0,
       0, 0, 2, 1, 2, 0, 0, 1, 0, 2, 1, 0, 1, 2, 2, 1, 1, 2, 1, 0, 0, 0,
       2, 0, 1, 1, 2, 2, 1, 2, 0, 2, 1, 0, 1, 1, 1, 1, 1, 2, 1, 1, 1, 0,
       1, 1, 1, 2, 1, 0, 2, 1, 2, 1, 0, 0, 1, 1, 2, 1, 1, 2, 0, 0, 1, 0,
       2, 2, 2, 1, 2, 1, 2, 1, 1, 0, 1, 2, 1, 0, 1, 0, 2, 1, 1, 0, 2, 2,
       1, 1, 1, 2, 0, 2, 1, 1, 1, 0, 2, 1, 0, 1, 1, 1, 1, 1, 1, 2, 2, 2,
       2, 2, 0, 2, 0, 1, 1, 2, 1, 0, 2, 1, 1, 0, 1, 1, 1, 2, 0, 0, 1, 1,
       1, 0, 0, 0, 0, 1, 0, 1, 0, 2, 2, 1, 1, 0, 1, 1, 1, 2, 2, 2, 2, 2,
       2, 0, 0, 1, 2, 2, 0, 2, 1, 0, 0, 0, 1, 2, 1, 1, 2, 1, 2, 2, 1, 1,
       0, 1, 0, 0, 0, 1, 1, 0, 1, 1, 2, 2, 0, 1, 1, 1, 1, 2, 0, 1, 0, 1,
       1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 1, 1, 1, 0, 1, 2, 1, 2, 0,
       2, 1, 2, 0, 1, 0, 1, 1, 0, 2, 1, 1, 1, 1, 2, 2, 0, 2, 0, 1, 2, 1,
       2, 2, 0, 1, 0, 2, 2, 1, 1, 0], dtype=int32)